<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Contact Us</h6>
        </div>
        <div class="row g-4 mt-4">
            <div class="col-md-12">
                <div class="wow fadeInUp" data-wow-delay="0.2s">
                    <form autocomplete="off" [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                    <small *ngIf="isSubmit && inquiryForm.get('name')?.hasError('required')" class="text-danger">
                                        This field is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                    <small *ngIf="isSubmit && inquiryForm.get('email')?.hasError('required')" class="text-danger">
                                        This field is required.
                                    </small>
                                    <small *ngIf="isSubmit && inquiryForm.get('email')?.hasError('email')" class="text-danger">
                                        please enter valid email
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="contactNo" placeholder="Contact Number" formControlName="contactNo">
                                    <label for="contact">Contact No</label>
                                    <small *ngIf="isSubmit && inquiryForm.get('contactNo')?.hasError('required')" class="text-danger">
                                        This field is required.
                                    </small>
                                    <small *ngIf="isSubmit && inquiryForm.get('contactNo')?.hasError('pattern')" class="text-danger">
                                        please enter valid contact number
                                    </small>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px" formControlName="message"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->