<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">About Us</h6>
            <h1 class="mb-5">What Make Us <span class="text-primary text-uppercase">Different</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-rupee-sign fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Best Prices</h5>
                    <p class="text-body mb-0">We are known to offer reasonable and competitive prices in the market</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-thumbs-up fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Assured Quality</h5>
                    <p class="text-body mb-0">We strive to satisfy our customers with the best quality products as per their requirements</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-building fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Quick Availability</h5>
                    <p class="text-body mb-0">In terms of quantity we are of the largest stock holders in the country. Always ready to satisfy the customers with any amount of orders</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Our <span class="text-primary text-uppercase">Infrastructure</span></h1>
        </div>
        <h5 class="text-justify">
            Our Organization Is Backed By A Sound Infrastructure That Is Outfitted With All The Equipment. It Has Been Divided According To Work Into Designing, Quality Control, Warehousing, And Packaging Unit. Moreover, This Facilitates Quality Testing Units Of The Designer CNC Tools And Milling Accessories, To Make Sure That These Meet The Quality Standards.
        </h5>
    </div>
</div>
<!-- Service End -->